#heading{
  color: red;
}

#mostexperience{
  background-color:blue ;
}

#workexperience{
  background-color:red;
}

body{
  background-image: url(https://miro.medium.com/max/1100/1*pE2fOVDikEUwiQJlh4ggzg.jpeg);
}

#bio{
  color:white;
}

#biocontent{
  color:white;
}

#contact{
  color:white;
}

#info{
  color:white;
}

#information{
  color:white;
}

#techskills{
  color:white;
}

#mytech{
  color:white;
}

#soft{
  color:white;
}

#softskills{
  color:white;
}

#hobbies{
  color:white;
}

#hobby{
  color:white;
}

#work{
  color:white;
}

#experience{
  color:white;
}

#last1{
  color:white;
}

#last2{
  color:white;
}

#last3{
  color:white;
}

#lasta{
  background-color:beige;
}

#workformat{
  background-color:beige;
}
